* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  background-color: #fcfcfc;
}

h1,
h2,
h3,
h4 {
  font-family: "Work Sans", sans-serif;
}
h1 {
  font-size: 6rem;
  text-align: center;
}
h2 {
  font-size: 3.2rem;
  margin-bottom: 4rem;
}
h3 {
  font-size: 3.2rem;
  margin-bottom: 3.2rem;
}

p {
  font-size: 2rem;
  line-height: 2;
}

header {
  color: #ffffff;
  text-shadow: 0 3px 6px #000000;
  height: 400px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("shared/bg.jpg");
  background-size: cover;
}

main {
  max-width: 104rem;
  margin: 0 auto;
  margin-top: -6rem;
  margin-bottom: 10rem;
  background-color: #fff;
  padding: 5rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}

section {
  margin-bottom: 4rem;
}
.first__box,
.third__box {
  margin-bottom: 4rem;
}

#third img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#map {
  width: 100%;
  height: 400px;
}

.line {
  width: 100%;
  margin-right: 6%;
  margin: 15px 0;
  height: 1px;
  background-color: rgb(197, 197, 197);
}

.prices {
  color: goldenrod;
  font-weight: bold;
}

@media only screen and (max-width: 62.5em) {
  html {
    font-size: 55%;
  }
}
@media only screen and (max-width: 30em) {
  html {
    font-size: 50%;
  }

  h1 {
    font-size: 10vw;
  }

  main {
    padding: 3rem;
    margin-bottom: 0;
  }
  p {
    margin-bottom: 1rem;
  }
}
